<header>
        <nav class="navbar">
            <div class="logo">
                <a href="#">Mini E-Commerce</a>
            </div>
            <ul class="nav-links">
                {% if session.get('username') %}
                 <li><a href="{{url_for('auth.logout')}}">Logout ({{session.get('username')}})</a></li>
                {% else %}
                    <li><a href="{{url_for('auth.login')}}">Login</a></li>
                    <li><a href="{{url_for('auth.signup')}}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
</header>
